@model seldin.Models.Apartment
@{
    ViewBag.Title = "ViewApartmentVillageEast";
    Layout = "~/Views/Shared/_Apartment1.cshtml";
}

<section class="intro-carousel wow fadeIn">

    <div class="container-fluid carousel-header">
        <div class="header-overlay">
            <div class="text-center">
                <img height="60" src="~/Assets/images/village-east.png" alt="Logo">
            </div>
            <br />
            <br />
            <p><i class="fa fa-map-marker"></i> @Model.Address</p>
            <p><i class="fa fa-phone"></i> @Model.telephone</p>
            <p><i class="fa fa-envelope"></i> @Model.email</p>
        </div>
        <div id="intro-carousel-inner" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Assets/images/apartment-images/1-1.JPG" alt="Second slide" />
                </div>

                <div class="item">
                    <img src="~/Assets/images/apartment-images/1-2.JPG" alt="Third slide" />
                </div>

                <div class="item">
                    <img src="~/Assets/images/apartment-images/1-3.JPG" alt="Fourth slide" />
                </div>

                <div class="item">
                    <img src="~/Assets/images/apartment-images/1-4.JPG" alt="Fifth slide" />
                </div>

            </div>

            <a class="left carousel-control" href="#intro-carousel-inner" data-slide="prev"><span><i class="fa fa-angle-left"></i></span></a>

            <a class="right carousel-control" href="#intro-carousel-inner" data-slide="next"><span><i class="fa fa-angle-right"></i></span></a>


        </div>

    </div>

</section>
<br>


<center>
    <h1>
        @Model.Name
    </h1>
</center>

<div class="row">
    <div class="col-md-4 text-center padding-md">

    </div>
    <div class="col-md-4 text-center padding-md">

        <p>@Model.Description</p>

    </div>
    <div class="col-md-4 text-center padding-md">

    </div>
</div>



<br><br> 



<section class="who-we-are" id="careers">

    <div class="container container-fluid padding-fix">

        <div class="row">

            <div class="col-md-6 padding-fix AMENITIES-left"></div>

            <div class="col-md-6 padding-fix AMENITIES-right">

                <div class="padding-md">

                    <span></span>

                    <h2 class="text-center" style="margin-top:80px">Amenities</h2>

                    <div class="row">
                        <div class="col-md-12 text-center padding-md">

                            <p><i class="fa fa-check"></i>In-Unit Laundry</p>
                            <p><i class="fa fa-check"></i>Fully Equipped Kitchens</p>
                            <p><i class="fa fa-check"></i>Some Utilities Paid (FSA)</p>
                            <p><i class="fa fa-check"></i>Walk-In Closet(s)</p>
                            <p><i class="fa fa-check"></i>We Love Pets!</p>
                            <p><i class="fa fa-check"></i>Accepts Online Payments</p>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="who-we-are" id="careers">

    <div class="container container-fluid padding-fix">

        <div class="row">

            <div class="col-md-6 padding-fix Adress-left">

                <div class="padding-md">

                    <span></span>

                    <h2 class="text-center" style="margin-top:118px"><i class="fa fa-map-marker"></i> @Model.Address</h2>
                    <br />
                    <div class="row  text-center">
                        <p>E-mail : @Model.email
                        <br /><span><em class="fa fa-phone"></em></span> @Model.telephone
                        <br />
                            @if (Model.OfficeHours != "")
                            {  <span><em class="fa fa-clock-o"></em></span> @Model.OfficeHours }

                        </p>
                        <div class="social-widget-links">
                            <ul class="list-unstyled list-inline">

                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                            </ul>

                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>

            </div>

            <div class="col-md-6 padding-fix Adress-right"></div>

        </div>

    </div>

</section>
<section class="who-we-are" id="careers">

    <div class="container container-fluid padding-fix">

        <div class="row">

            <div class="col-md-6 padding-fix who-we-are-right"></div>

            <div class="col-md-6 padding-fix who-we-are-left">

                <div class="form padding-md">

                    <div class="c-form-1-bottom">
                        <h2 class="text-center">GET A <strong>FREE</strong> QOUTE TODAY!</h2>
                        <br />
                        <form role="form" action="assets/contact.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="c-form-1-name">Name</label>
                                        <input type="text" name="name" placeholder="First name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="c-form-1-name">Name</label>
                                        <input type="text" name="name" placeholder="Last name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="c-form-1-email">Email</label>
                                <input type="text" name="email" placeholder="Email" class="c-form-1-email form-control input-lg" id="c-form-1-email">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Phone</label>
                                <input type="text" name="phone" placeholder="Phone" class="c-form-1-email form-control input-lg" id="phone">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Date</label>
                                <input type="text" value="06-02-2017" class="c-form-1-email form-control input-lg" id="datetimepicker">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="c-form-1-message">Message</label>
                                <textarea name="message" placeholder="Message..." class="c-form-1-message form-control input-lg" rows="4" id="c-form-1-message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary btn-lg">Submit</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<section id="latest-news">
    <div class="container container-fluid">
        <h1><p><b>Latest</b> News</p></h1>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h3><b><p>Now Leasing</p></b></h3>
                    <br />
                    <p style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h3><b><p>What's New?</p></b></h3>
                    <br />
                    <p style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h3><b><p>A new home</p></b></h3>
                    <br />
                    <p style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>