@model seldin.Models.Apartment

@{
    ViewBag.Title = "ViewApartment";
    Layout = "~/Views/Shared/_Apartment.cshtml";
    int imageCounter = 1;
}

@*<h2>ViewApartment</h2>*@

@*@Model.Name*@


@if (Model.Id == 1)
{
    @*<section class="intro-carousel wow fadeIn" >

            <div class="container-fluid ">

                <div id="intro-carousel-inner" class="carousel slide carousel-fade" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Assets/images1/slide02.jpg" alt="Second slide" />
                        </div>

                        <div class="item">
                            <img src="/Assets/images1/slide05.jpg" alt="Third slide" />
                        </div>

                        <div class="item">
                            <img src="/Assets/images1/slide04.jpg" alt="Fourth slide" />
                        </div>

                        <div class="item">
                            <img src="/Assets/images1/slide03.jpg" alt="Fifth slide" />
                        </div>

                    </div>

                </div>

            </div>

        </section>*@
}
@*<div class="top-content" style='background-image: url("../../Assets/images/apartment-images/ap-1-cover.JPG")'>*@

<ul class="slideshow">
    @foreach (var item in Model.Image)
    {
        <li><span data-image-url="@item">Image @imageCounter.ToString()</span></li>
        imageCounter++;
    }
</ul>

<div class="top-content" >
    <div class="container">
        <div class="row" style="background: rgba(0, 0, 0, 0.44);">

            <div class="col-sm-8">
                <h1>
                    @Model.Name
                </h1>
                <br />
                <div class="font-quote telephone text-left">
                    <a href="#"><span><em class="fa fa-phone"></em></span> @Model.telephone @if (Model.OfficeHours != "") {  <span><em class="fa fa-clock-o"></em></span> @Model.OfficeHours } </a>
                </div>
                <br />
                <h5 class="font-quote font-semi-bold address text-left">
                    @Model.Address
                </h5>
                <br>

                <h5 class="font-quote font-semi-bold address text-left" style="line-height: 1.8;">
                    @Model.Description
                </h5>
                <br>
            </div>

            <div class="col-sm-4 c-form-1-box wow fadeInUp animated">
                <div class="c-form-1-top">
                    <div class="c-form-1-top-left">
                        <h2>GET A <strong>FREE</strong> QUOTE TODAY!</h2>
                    </div>
                    @*<div class="c-form-1-top-right">
                            <i class="fa fa-envelope"></i>
                        </div>*@
                </div>
                <div class="c-form-1-bottom">
                    <form role="form" action="assets/contact.php" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="c-form-1-name">Name</label>
                                    <input type="text" name="name" placeholder="First name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="sr-only" for="c-form-1-name">Name</label>
                                    <input type="text" name="name" placeholder="Last name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="c-form-1-email">Email</label>
                            <input type="text" name="email" placeholder="Email" class="c-form-1-email form-control input-lg" id="c-form-1-email">
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Phone</label>
                            <input type="text" name="phone" placeholder="Phone" class="c-form-1-email form-control input-lg" id="phone">
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Date</label>
                            <input type="text" value="06-02-2017" class="c-form-1-email form-control input-lg" id="datetimepicker">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="c-form-1-message">Message</label>
                            <textarea name="message" placeholder="Message..." class="c-form-1-message form-control input-lg"  rows="4" id="c-form-1-message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-lg">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        // Dynamic Slideshow
        $(document).ready(function () {
            var delay = 6;
            var delayCounter = 0;
            var spans = $(".slideshow li span");

            var imagesDelay = spans.length * delay;
            spans.css("-webkit-animation", 'imageAnimation ' + imagesDelay + 's linear infinite 0s');
            spans.css("-moz-animation:", 'imageAnimation ' + imagesDelay + 's linear infinite 0s');
            spans.css("-o-animation", 'imageAnimation ' + imagesDelay + 's linear infinite 0s');
            spans.css("-ms-animation", 'imageAnimation ' + imagesDelay + 's linear infinite 0s');
            spans.css("animation", 'imageAnimation ' + imagesDelay + 's linear infinite 0s');

            $.each(spans, function (i, o) {
                var imageDelay = delay * delayCounter;
                var span = $(o);

                span.css("background-image", 'url("' + span.data("image-url") + '")');

                if (delayCounter > 0) {
                    span.css("-webkit-animation-delay", imageDelay + "s");
                    span.css("moz-animation-delay", imageDelay + "s");
                    span.css("-o-animation-delay", imageDelay + "s");
                    span.css("-ms-animation-delay", imageDelay + "s");
                    span.css("animation-delay", imageDelay + "s");
                }

                delayCounter++;
            });
        });

    </script>    
}