@model seldin.Models.Apartment
@{
    ViewBag.Title = Model.Name;
}
<section class="header-banner about-banner-bg">
    <div class="banner-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>@Model.Name</h2>
                </div>
                <div class="col-md-6 col-sm-12">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<section class="ap-banner wow fadeIn">
    <div class="container">
        <h1 class="text-center section-heading wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0s; animation-name: fadeInUp;">Schedule a <b>Tour</b> today!</h1>
        <br />
        <div class="row">
            <div class="col-md-7">
                <ul class="apartment-images-slider">
                    @foreach (var item in Model.Image)
                    {
                        <li>
                            <img src="@item" alt="apartment image" />
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-5">

                <div class="form">

                    <div class="c-form-1-bottom">
                        <form role="form" action="assets/contact.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="c-form-1-name">Name</label>
                                        <input type="text" name="name" placeholder="First name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="c-form-1-name">Name</label>
                                        <input type="text" name="name" placeholder="Last name" class="c-form-1-name form-control input-lg" id="c-form-1-name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="c-form-1-email">Email</label>
                                <input type="text" name="email" placeholder="Email" class="c-form-1-email form-control input-lg" id="c-form-1-email">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Phone</label>
                                <input type="text" name="phone" placeholder="Phone" class="c-form-1-email form-control input-lg" id="phone">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Date</label>
                                <input type="text" placeholder="06-02-2017" class="c-form-1-email form-control input-lg" id="datetimepicker">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="c-form-1-message">Message</label>
                                <textarea name="message" placeholder="Message..." class="c-form-1-message form-control input-lg" rows="4" id="c-form-1-message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary btn-lg">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<section class="apartment-details">
    <div class="container text-center">
        <h1> @Model.Name</h1>
        <p class="padding-md">@Model.Description</p>
    </div>
</section>
<br />
<br />
@*<section class="apartment-details">
        <div class="container text-center">
            <h1> @Model.Name</h1>
            <p class="padding-md">@Model.Description</p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 apartment-detail">
                    <div class="well">
                        <div class="well-content">
                            <h2 class="text-left">Contact Details</h2>
                            <br />
                            <h3 class="text-center"><i class="fa fa-map-marker"></i> @Model.Address</h3>
                            <br />
                            <p>
                                E-mail : @Model.email
                                <br /><span><em class="fa fa-phone"></em></span> @Model.telephone
                                <br />
                                @if (Model.OfficeHours != "")
                                {  <span><em class="fa fa-clock-o"></em></span> @Model.OfficeHours }
                            </p>
                            <div class="social-widget-links">
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 apartment-detail">
                    <div class="well">
                        <div class="well-content">
                            <h2 class="text-left">Amenities</h2>
                            <br />
                            <div class="text-left">
                                @foreach (var item in Model.Amenities)
                                {
                                <p><i class="fa fa-check"></i>&nbsp;@item</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 apartment-detail">
                    <div class="well">
                        <div class="well-content">
                            <h2 class="text-left">Community</h2>
                            <br />
                            <div class="text-left">
                                @foreach (var item in Model.Community)
                                {
                                <p><i class="fa fa-check"></i>&nbsp;@item</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<section class="who-we-are view-apamartment-detail fadeInRight">
    <div class="container-fluid padding-fix">
        <div class="row">
            <div class="col-md-6 padding-fix who-we-are-left">
                <div class="who-we-are-content text-left">
                    <h2 class="text-left">Contact Details</h2>
                    <br />
                    <h3 class="text-left"><i class="fa fa-map-marker"></i> @Model.Address</h3>
                    <br />
                    <p class="text-left">
                        E-mail : @Model.email
                        <br /><span><em class="fa fa-phone"></em></span> @Model.telephone
                        <br />
                        @if (Model.OfficeHours != "")
                        {  <span><em class="fa fa-clock-o"></em></span> @Model.OfficeHours }
                    </p>
                    <div class="social-widget-links">
                        <ul class="list-unstyled list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding-fix who-we-are-right" style="background-image:url(@Model.Image.ElementAt(0))"></div>
        </div>
    </div>
</section>
<section class="who-we-are view-apamartment-detail fadeInLeft">
    <div class="container-fluid padding-fix">
        <div class="row">
            <div class="col-md-6 padding-fix who-we-are-left" style="background-image:url(@Model.Image.ElementAt(1))"></div>
            <div class="col-md-6 padding-fix who-we-are-right" style="background-image:none;">
                <div class="who-we-are-content text-left">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-left">Amenities</h2>
                            <br />
                            <div class="text-left">
                                @foreach (var item in Model.Amenities)
                                {
                                    <p><i class="fa fa-check"></i>&nbsp;@item</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-left">Community</h2>
                            <br />
                            <div class="text-left">
                                @foreach (var item in Model.Community)
                                {
                                    <p><i class="fa fa-check"></i>&nbsp;@item</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles{
    <link href="~/Assets/css/jquery.bxslider.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Assets/js/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".apartment-images-slider").bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideMargin: 10
            });
            $("#datetimepicker").datepicker({
                autoclose: true
            });
        });
    </script>
}